* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  width: 95vw;
  height: 90vh;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-bottom: 20px; 
}

.calendar-day-numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 40px; 
}

.calendar-day-numbers__day-number {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5vw;
  text-align: left;
  margin: 20px;
  width: 200px;
  height: 60px;
  padding: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius:10px; 
}

.calendar-day-numbers__day-number--today {
    background-color: lightblue;
    border-radius:10px;
}

.calendar-day-numbers__day-number--scheduled {
    background-color: lightgrey;
    border-radius: 10px; 
}

.calendar-day-numbers__day-number:hover {
  cursor: pointer;
  background-color: red;
  color: white;
  border-radius: 10px;
}

.calendar-day-numbers__day-number--type {
    font-size: 20px; 
}

.calendar-day-numbers__day-number--description {
    font-size: 16px; 
}

.calendar-day-numbers__day-number--not-a-true-day-number {
    opacity: 0;
    cursor: auto !important; 
    pointer-events: none;
}

/* media queries  */
/* tested resolutions: 1920×1080, 1536×864, 1366×768, 1440x900, 1280x720 */
@media (max-width: 1600px) {
  .calendar-day-numbers__day-number {
    width: 150px;
    height: 50px;
    margin: 15px; 
  }

  .calendar-days__day-name {
    width: 150px;
    margin: 15px; 
  }
}

@media (max-width: 1500px) {
  .calendar-day-numbers__day-number {
    width: 140px;
  }

  .calendar-days__day-name {
    width: 140px;
  }
}

@media (max-width: 1400px) {
  .calendar-day-numbers__day-number {
    width: 150px;
    height: 40px;
    margin: 10px; 
  }

  .calendar-days__day-name {
    width: 125px;
    margin: 10px; 
  }
}

@media (max-width: 1200px) {
  .calendar-day-numbers__day-number {
    width: 100px;
    height: 30px;
    margin: 5px; 
  }

  .calendar-days__day-name {
    width: 100px;
    margin: 5px; 
  }
}
