.month-name {
  text-align: left;
  font-size: 40px;
  margin: 10px 0px 0px 60px;
  padding-bottom: 10px;
  border-bottom: 4px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* mobile media queries  */
@media (max-width: 448px) {
  .month-name {
    margin-left: 20px;
  }
}
