.month-name {
    text-align: left; 
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size:50px; 
    margin: 10px 0px 10px 60px; 
    padding-bottom: 10px; 
    border-bottom: 4px solid red; 
}