.popup-modal-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    animation: fadeIn 0.5s;
    top: 0;
    left: 0;
  }
  
  .popup-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    width: 800px;
    height: 200px;
    border-radius: 10px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
      rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    border: 2px solid grey;
  }